.one{display:flex;
justify-content: space-between;}

.mg{ float: right;}


.three{display: flex;}


.four{display: flex;}

.five{display: flex;}

.double{text-align: center;}

.doubl{text-align: center;}

.phone1{text-align: center;}

.site{text-align: center;}

.sub{text-align: right;}

.input{text-align: right;}

.media{text-align: center;}

.desi{text-align: right;}

